<h1>Edit beer</h1>

<form action='/profile/{{beer._id}}/edit-beer/' method='POST' enctype="multipart/form-data">

  <label for=''>Select an image : *</label>
  <img src={{beer.image_url}} alt="beer image">
  <input type="file" name="image_url" value={{beer.image_url}} />



  <label for=''>Beer name :</label>
  <input type='text' name='name' value={{beer.name}}>


  <label for="">Beer Type:</label>

  <select id="beer-type" selected name="beerType" value={{beer.purchasePlace}}>
    <option value="lager">Lager</option>
    <option value="pilsner">Pilsner</option>
    <option value="wheat beer">Wheat beer</option>
    <option value="witbier">Witbier</option>
    <option value="IPA">IPA</option>
    <option value="porter">Porter</option>
    <option value="stout">Stout</option>
    <option value="gose">Gose</option>
    <option value="sour">Sour</option>

  </select>

  <label for=''>Brewery :</label>
  <input type='text' name='brewery' value="{{beer.brewery}}">

  <label for=''>Alcohol Volume (%) :</label>
  <input type='number' step="0.01" name='alcoholVol' value={{beer.alcoholVol}}>

  <label for=''>Country :</label>
  <input type='text' name='country' value="{{beer.country}}">

  <label for=''>Description :</label>
  <input type='text' name='description' value="{{beer.description}}">

  <label for=''>Malt:</label>
  <input type='text' name='malt' value="{{beer.malt}}">

  <label for=''>Hops:</label>
  <input type='text' name='hops' value="{{beer.hops}}" placeholder="If you want to add hops do it like this : hop1, hop2">

  <label for=''>EBU:</label>
  <input type='number' name='EBU' step="0.01" value={{beer.EBU}}>

  <label for="">Purchase place:</label>
  <select id="purchasePlace" selected name="purchasePlace" value={{beer.purchasePlace}}>
    <option value="supermarket">Supermarket</option>
    <option value="local store">Local store</option>
    <option value="brewery">Brewery</option>
    <option value="bar">Bar</option>
    <option value="online">Online</option>
  </select>

  <label for=''>Purchased country:</label>
  <input type='text' name='purchaseCountry' value={{beer.purchaseCountry}}>


  <button type='submit'>SAVE CHANGES</button>
</form>

{{!-- another form to be able to delete the beer! i hope we cant delete beers that we dont "own" --}}

{{!-- also why is the method here post but in the routes GET? is that ok? --}}
<form action="/profile/{{beer._id}}/delete" method="post">
  <button type="submit">Delete beer</button>
  {{!-- add a confirm message here? are you sure you want to delete? --}}
</form>