<h1>Profile Page</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Joe_Exotic_%28Santa_Rose_County_Jail%29.png"
    alt="profile-pic" class="img-profile">

<p>{{user.username}}</p>
<p>{{user.country}}</p>
<p>{{user.city}}</p>
<p>{{user.beerPreference}}</p>


<details>
    <summary>Added Beers</summary>

    {{#each user.userBeers}}
    <a href="/profile/{{this._id}}/edit-beer">
        <article>
            <div class="beer-container">
                <img src="https://www.encopadebalon.com/3470-large_default/heineken-premium-lager-beer-bottle-24-x-330ml.jpg"
                    alt="image" class="img-beers">
                <div class="beer-attributes">
                    <p>{{this.name}}</p>
                    <p>Beer Type</p>
                    <p>Alcohol %</p>
                    <p>Rate</p>
                    <p>Country</p>
                    <a href="/profile/{{this._id}}/edit-beer"><i class="material-icons">settings</i></a>

                </div>
            </div>
        </article>
    </a>
    {{/each}} 
</details>

<details>
    <summary>Added Reviews</summary>

    {{#each user.userReviews}} 
    THIS IS THE ID {{this._id}}
    <a href="/profile/{{this._id}}/edit-review">
        <article>
            <div class="beer-container">
                <img src="#"
                    alt="image" class="img-beers">
                <div class="beer-attributes">
                    <p>{{this.review}}</p>
                    <p>{{this.rating}}</p>
<a href="/profile/{{this._id}}/edit-review"><i class="material-icons">settings</i></a>
                </div>
            </div>

        </article>
    </a>
    {{/each}} 
</details>

{{!-- <a href="edit"><i class="material-icons">settings</i></a> --}}
<a href="edit-profile"><i class="material-icons">settings</i></a>