<h1 class="title">My profile</h1>

<header>

    <div class="container">

        <div class="profile">

            <div class="profile-image">

                <img src="{{user.profilePicture}}" alt="profile-pic" class="img-profile">

            </div>

            <div class="profile-user-settings">

                <h1 class="profile-user-name">{{user.username}}</h1>

                <a href="edit-profile"><button class="btn profile-edit-btn">Edit Profile</button><a>

                        <a href="/auth/logout"><button class="btn profile-edit-btn">Log Out</button><a>

            </div>

            <div class="profile-stats">

                <ul>

                    <li><span class="profile-stat-count">{{user.city}}</span> </li>
                    <li><span class="profile-stat-count">{{user.country}}</span> </li>
                    <li><span class="profile-stat-count">30</span> followers</li>
                    <li><span class="profile-stat-count">22</span> following</li>

                </ul>
                <div class="profile-bio">
                    <p><span class="profile-real-name">Beer Preference</span> {{user.beerPreference}}</p>

                </div>


            </div>

        </div>
        <!-- End of profile section -->

    </div>


    {{!-- <section id="user-info">
    <article class="container-info">

        <img src="{{user.profilePicture}}" alt="profile-pic" class="img-profile">
    </article>
    
<article class="container-info">
    <p>Username: {{user.username}}</p>
    <p>City: {{user.city}}</p>
    <p>Country: {{user.country}}</p>
    <p>Beer preference: {{user.beerPreference}}</p>
    </article> --}}


    {{!-- </section> --}}

    {{!-- <section> --}}


    <section class="section-added-infos">
        <article class="container-added-infos">
            <details>
                <summary>Added Beers</summary>

                <article>
                {{#each user.userBeers}}
                    <div class="beer-container">
                        {{!-- <a href="/beer-description/{{this._id}}" class="beer-link">See beer description</a> --}}
                        <a href="/profile/{{this._id}}/edit-beer">
                            <img src="{{this.image_url}}" alt="image" class="img-beers">
                            <div class="beer-attributes">
                                <p>{{this.name}}</p>

                                {{#if this.beerType}}
                                <p>Beer Type: {{this.beerType}}</p>
                                {{/if}}

                                <p>Alc. {{this.alcoholVol}} %</p>

                                {{#if this.country}}
                                <p>Origin: {{this.country}}</p>
                                {{/if }}

                                {{#if this.brewery}}
                                <p>Brewery: {{this.brewery}}</p>
                                {{/if }}
                            </div>
                        </a>
                    </div>
                {{/each}}
                </article>
            </details>
        </article>
    </section>