<h1>Profile Page</h1>


{{!-- <section id="user-info"> --}}
<article class="container">

    <img src="{{user.profilePicture}}" alt="profile-pic" class="img-profile">

    <p>Username: {{user.username}}</p>
    <p>City: {{user.city}}</p>
    <p>Country: {{user.country}}</p>
    <p>Beer preference: {{user.beerPreference}}</p>
</article>
{{!-- </section> --}}

<article class="container">
    {{!-- <a href="edit"><i class="material-icons">settings</i></a> --}}
    <a href="edit-profile"><i class="material-icons">settings</i></a>
</article>

<article class="container">
    <div>
        <a href="/auth/logout"><button>LOG OUT</button></a>
    </div>
</article>

<article class="container">
    <details>
        <summary>Added Beers</summary>

        {{#each user.userBeers}}
        <a href="/profile/{{this._id}}/edit-beer">
            <div>
                <img src="{{this.image_url}}" alt="image" class="img-beers">
                <div>
                    {{!-- class="beer-attributes" --}}
                    <p>{{this.name}}</p>
                    <p>Beer Type</p>
                    <p>Alcohol %</p>
                    <p>Rate</p>
                    <p>Country</p>
                    <a href="/profile/{{this._id}}/edit-beer"><i class="material-icons">settings</i></a>

                </div>
            </div>

        </a>
        {{/each}}
    </details>
</article>






<article class="container">
    <details>
        <summary>Added Reviews</summary>

        {{#each user.userReviews}}
        
        <a href="/profile/{{this._id}}/edit-review">
            <div>
                {{!-- class="beer-container" --}}
                <img src="#" alt="image" class="img-beers">
                <div>
                    {{!-- class="beer-attributes" --}}
                    <p>{{this.review}}</p>
                    <p>{{this.rating}}</p>
                    <a href="/profile/{{this._id}}/edit-review"><i class="material-icons">settings</i></a>
                </div>
            </div>


        </a>
        {{/each}}
    </details>
</article>





