<link rel='stylesheet' href='/stylesheets/style.css' />

<h1 class="title">ALL BEERS PAGE</h1>

{{!-- form for showing beers --}}
<details>
    <summary>Filter beer selection:</summary>
    <form action="/all-beers" method="get">

        <label for="name">Name: </label>
        <input name="name" id="name" type="text">

        <label for="country">Country: </label>
        <input name="country" id="country" type="text">

        <label for="brewery">Brewery: </label>
        <input name="brewery" id="brewery" type="text">

        <label for="beerType">Beer type: </label>
        <select name="beerType" id="">
            <option value="">Don't specify</option>
            <option value="lager">Lager only</option>
            <option value="IPA">IPA only</option>
            <option value="pilsner">Pilsner only</option>
            <option value="wheat beer">Wheat beer only</option>
            <option value="witbier">Witbier only</option>
            <option value="APA">APA only</option>
            <option value="porter">Porter only</option>
            <option value="stout">Stout only</option>
            <option value="gose">Gose only</option>
            <option value="sour">Sour only</option>
            <option value="other">Beers with type "other"</option>
        </select>
        <button type="submit">Filter beers!</button>
    </form>

    <form action="/all-beers" method="get">
        <button type="submit">Show all</button>
    </form>
</details>

{{#each allBeers}}
<article>
    <div class="beer-container">
        <a href="/beer-description/{{this._id}}" class="beer-link">
            <img src="{{this.image_url}}" class="img-beers" alt="image">
            <div class="beer-attributes">
                <p>{{this.name}}</p>

                {{#if this.beerType}}
                <p>Beer Type: {{this.beerType}}</p>
                {{/if}}

                <p>Alc. {{this.alcoholVol}} %</p>

                {{#if this.country}}
                <p>Origin: {{this.country}}</p>
                {{/if }}

                {{#if this.brewery}}
                <p>Brewery: {{this.brewery}}</p>
                {{/if }}
            </div>
        </a>
    </div>
</article>
{{!-- </a> --}}
{{/each}}
