<link rel='stylesheet' href='/stylesheets/style.css' />

<h1 class="title">ALL BEERS </h1>

{{!-- form for showing beers --}}
<details class="filter-beers">
    <summary>Filter beer selection:</summary>
    <form action="/all-beers" method="get">

        <label for="name">Name: </label>
        <input name="name" id="name" type="text">

        <label for="country">Country: </label>
        <input name="country" id="country" type="text">

        <label for="brewery">Brewery: </label>
        <input name="brewery" id="brewery" type="text">

        <label for="beerType">Beer type: </label>
        <select name="beerType" id="">
            <option value="">Don't specify</option>
            <option value="lager">Lager only</option>
            <option value="IPA">IPA only</option>
            <option value="pilsner">Pilsner only</option>
            <option value="wheat beer">Wheat beer only</option>
            <option value="witbier">Witbier only</option>
            <option value="APA">APA only</option>
            <option value="porter">Porter only</option>
            <option value="stout">Stout only</option>
            <option value="gose">Gose only</option>
            <option value="sour">Sour only</option>
            <option value="other">Beers with type "other"</option>
        </select>
        <button type="submit">Filter beers!</button>
    </form>

    <form action="/all-beers" method="get">
        <button type="submit">Show all</button>
    </form>
</details>

{{!-- <div class="beer-flex"> TEST !

    <div>
        <img src="https://usercontent2.hubstatic.com/8615653_f520.jpg" alt="kitty">
    </div>

    <div>
        <ul>
            <li>text</li>
            <li>more text</li>
        </ul>
    </div>

</div> --}}

{{#each allBeers}}
    <a href="/beer-description/{{this._id}}" class="beer-link">
    <div class="beer-flex">
        <div>
                <img src="{{this.image_url}}" class="img-beers" alt="image">
        </div>

        <div>
            <ul>
                <li> <h3>{{this.name}}</h3></li>

                {{#if this.beerType}}
                <li>Beer Type: {{this.beerType}}</li>
                {{/if}}

                <li>Alc. {{this.alcoholVol}} %</li>

                {{#if this.country}}
                <li>Origin: {{this.country}}</li>
                {{/if }}

                {{#if this.brewery}}
                <li>Brewery: {{this.brewery}}</li>
                {{/if }}


            </ul>
        </div>

    </div>
    </a>
{{/each}}
