<link rel='stylesheet' href='/stylesheets/style.css' />

<h1 class="title">ALL BEERS PAGE</h1>

<a href="/beer-description">Beer Description page</a>

{{#each allBeers}}
<article>

    <div class="beer-container">
        <a href="/beer-description/{{this._id}}" class="beer-link">
            <img src="{{this.image_url}}" class="img-beers" alt="image">
            <div class="beer-attributes">
                <p>{{this.name}}</p>

                {{#if this.beerType}}
                <p>Beer Type: {{this.beerType}}</p>
                {{/if}}

                <p>Alc. {{this.alcoholVol}} %</p>

                {{#if this.country}}
                <p>Origin: {{this.country}}</p>
                {{/if }}

                {{#if this.brewery}}
                <p>Brewery: {{this.brewery}}</p>
                {{/if }}
            </div>
    </div>
    </a>
</article>
</a>
{{/each}}




{{!-- <article>
            
            <div class="beer-container">
                <a href="/beer-description/{{this._id}}" >
            <img src="{{this.image_url}}" class="img-beers" alt="image">
            <div class="beer-attributes">
                <p>{{this.name}}</p>
                    {{#each this.beerType}} 
                        <p>Beer Type: {{this}}</p> 
                    {{else}}
                        <p>No beer type specified</p> 
                    {{/each}}

                <p>Alc. {{this.alcoholVol}} %</p>
                {{#if this.country}}
                    <p>Country: {{this.country}}</p>
                {{else}}
                    <p>Unknown origin</p>
                {{/if}}
            </div>
        </div>
</a>
        </article>
    </a> --}}