<h1 class="title">ALL BEERS PAGE</h1>



<a href="/beer-description">Beer Description page</a>

{{#each allBeers}}
    <a href="/beer-description/{{this._id}}" >
        <article>
            <div class="beer-container">
            <img src="{{this.image_url}}" alt="image">
            <div class="beer-attributes">
                <p>{{this.name}}</p>
                    {{#each this.beerType}} 
                        <p>Beer Type: {{this}}</p> 
                    {{else}}
                        <p>No beer type specified</p> 
                    {{/each}}

                <p>Alc. {{this.alcoholVol}} %</p>
                {{#if this.country}}
                    <p>Country: {{this.country}}</p>
                {{else}}
                    <p>Unknown origin</p>
                {{/if}}
            </div>
        </div>

        </article>
    </a>
{{/each}}

