<h1>Beer Description</h1>
<br>
<form action="/beer-description/{{beer._id}}/like" method="post">
    <button type="submit">Like this beer!</button>
</form>

{{!-- add somewhere if you have liked the beer or not! if it's not in the beer model, it will need more work! --}}

<div> {{!-- add class here if needed --}}
    <h4>{{beer.name}}</h4>
    <img src=" {{beer.image_url}} " alt="No image available">

    <div>
        {{#if beer.beerType}}
        <p>Beer Type: {{beer.beerType}}</p>
        {{/if}}

        <p>Alc. {{beer.alcoholVol}} %</p>

        {{#if beer.description}}
        <p> {{beer.description}} </p>
        {{/if}}

        {{#if beer.country}}
        <p>Origin: {{beer.country}}</p>
        {{/if}}

        {{#if beer.brewery}}
        <p>Brewery: {{beer.brewery}}</p>
        {{/if }}

        <p>Malts: </p>
        {{#each beer.malt}}
        <ul>
            <li> {{this}} </li>
        </ul>
        {{/each}}

        <p>Hops: </p>
        {{#each beer.hops}}
        <ul>
            <li> {{this}} </li>
        </ul>
        {{/each}}

        <p>EBU: {{beer.EBU}} </p>

        {{#if beer.purchasePlace}}
        <p>Purchased from: {{beer.purchasePlace}}</p>
        {{/if }}

        {{#if beer.purchaseCountry}}
        <p>Purchased in: {{beer.purchaseCountry}}</p>
        {{/if }}

    </div>

</div>



<a href="/beer-description/{{beer._id}}/add-review">Add review</a>



<details>
    <summary>Reviews</summary>
    {{#each review}}
    <div>
        <p>" {{this.review}} "</p>
        <p> {{this.rating}}/5</p>
        {{!-- add user to review? --}}
    </div>
    {{/each}}
</details>