<h1 class="title">Beer Description</h1>
<br>



{{!-- add somewhere if you have liked the beer or not! if it's not in the beer model, it will need more work! --}}


<section class="beer-description">
 {{!-- add class here if needed --}}
    
    <img src=" {{beer.image_url}} " alt="No image available">

    <div class="beer-description-container">

        <h2>{{beer.name}}</h2>

        {{#if beer.beerType}}
        <p>Beer Type: {{beer.beerType}}</p>
        {{/if}}

        <p>Alc. {{beer.alcoholVol}} %</p>

        {{#if beer.description}}
        <p> {{beer.description}} </p>
        {{/if}}

        {{#if beer.country}}
        <p>Origin: {{beer.country}}</p>
        {{/if}}

        {{#if beer.brewery}}
        <p>Brewery: {{beer.brewery}}</p>
        {{/if }}

        <p>Malts: </p>
        {{#each beer.malt}}
        <ul>
            <li> {{this}} </li>
        </ul>
        {{/each}}

        <p>Hops: </p>
        {{#each beer.hops}}
        <ul>
            <li> {{this}} </li>
        </ul>
        {{/each}}

        <p>EBU: {{beer.EBU}} </p>

        {{#if beer.purchasePlace}}
        <p>Purchased from: {{beer.purchasePlace}}</p>
        {{/if }}

        {{#if beer.purchaseCountry}}
        <p>Purchased in: {{beer.purchaseCountry}}</p>
        {{/if }}

    

</div>

</section>

{{!-- THIS WORKS!!! --}}
{{#if liked}}
<form action="/beer-description/{{beer._id}}/unlike" method="post">
    <button type="submit">Click to unlike beer</button>
</form>
{{else}}
<form action="/beer-description/{{beer._id}}/like" method="post">
    <button type="submit">Like this beer!</button>
</form>
{{/if}}






{{!-- <a href="/beer-description/{{beer._id}}/add-review">Add review</a> --}}


<form action="/beer-description/{{beer._id}}/add-review" method="get" style="margin-top:0.2rem;">
    <button type="submit" >Add review</button>
</form>



<details class="reviews">
    <summary>Reviews</summary>
    
    {{#each review}}
    <div class="review-description">
       
        <p>" {{this.review}} "</p>
        <p> Rate: {{this.rating}}/5</p>
        {{!-- add user to review? --}}
        
    </div>
    {{/each}}
    
</details>