<h1 class="title">Favorite beers</h1>

{{#each likedBeers}}
<a href="/beer-description/{{this._id}}" class="beer-link">
    <div class="beer-flex">
        <div>
            <img src="{{this.image_url}}" class="img-beers" alt="image">
        </div>

        <div>
            <ul>
                <li>
                    <h3>{{this.name}}</h3>
                </li>

                {{#if this.beerType}}
                <li>Beer Type: {{this.beerType}}</li>
                {{/if}}

                <li>Alc. {{this.alcoholVol}} %</li>

                {{#if this.country}}
                <li>Origin: {{this.country}}</li>
                {{/if }}

                {{#if this.brewery}}
                <li>Brewery: {{this.brewery}}</li>
                {{/if }}


            </ul>
        </div>

    </div>
</a>
{{/each}}