<h1>Favorite beers</h1>

{{#each likedBeers}}
<a href="/beer-description/{{this._id}}">
    <article>
        <div class="beer-container">
            <img src="{{this.image_url}}" alt="image">
            <div class="beer-attributes">
                <p>{{this.name}}</p>

                {{#if this.beerType}}
                <p>Beer Type: {{this.beerType}}</p>
                {{/if}}

                <p>Alc. {{this.alcoholVol}} %</p>

                {{#if this.country}}
                <p>Origin: {{this.country}}</p>
                {{/if}}

                {{#if this.brewery}}
                <p>Brewery: {{this.brewery}}</p>
                {{/if }}
            </div>
        </div>
    </article>
</a>

{{!-- original setup that works <div>
    {{this.name}}
</div> --}}
{{/each}}